@{
    ViewData["Title"] = "Home";
}
<head>
    <style>
        .intro-div {
            padding-bottom: 5vh;
        }
        .display-6 {
            word-wrap: anywhere;
            font-size: 6vh;
        }

        .intro {
            word-wrap: anywhere;
            font-size: 3vh;
        }
        #intro-video {
            width: 100% !important;
            height: auto !important;
            border: 0.1vw solid black;
            overflow: hidden;
        }
    </style>
</head>

<body>
    <div style="width:100%">
        <table style="display: block; margin-left: auto; margin-right: auto;">
            <tr>
                <td>
                    <div class="intro-div">
                        <h2 class="display-6" style="text-align:center">Log your Future</h2>
                        @{
                            if (ViewBag.HomeMessage != null)
                            {
                                <p class="alert-primary">@ViewBag.HomeMessage</p>
                            }
                        }
                        <div class="intro">
                            <p>ThinkFul allows you see your progress toward Goals through a chart like the one on the right. You can add, delete, or edit your goals to change your ThinkFulChart. You can also click or hover over the points in your chart to see their Progress values.</p>
                            <a class="btn btn-outline-info" asp-controller="User" asp-action="CreateUser">Create your account now to get started.</a>
                            <br />
                            <a class="btn btn-outline-primary" asp-controller="User" asp-action="Login">Or Login to your Existing Account</a>
                        </div>
                </td>
                <td>
                    <video id="intro-video" autoplay loop muted>
                        <source src="@Url.Content("~/Media/ThinkFul Tracker Demo Video.mp4")" type="video/mp4"/>
                    </video>
                </td>
            </tr>
        </table>
    </div>
</body>